.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-opacity: 0.6;
}

.text-area {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-opacity: 1;
}


.text-field {
	-fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.list-view{
	-fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";	
} 

.button {
	-fx-background-radius: 16;
	-fx-padding: 5 22 5 22;   
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;  
}

.button:focused {
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 16;
    -fx-border-insets: 1 1 1 1, 0;
}

.progress-bar {
    -fx-indeterminate-bar-length: 60;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
    -fx-accent: #1E90FF;
    
}

